<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:replace="common/head :: fragmentHead"/>
	<script src="/js/slick.js"></script>
</head>
<body>

<div class="wrap">

	<th:block th:replace="layer/header :: header"></th:block>



	<div class="container_wrap">

		<section class="container">

			<div class="content_wrap">

				<div class="pageTit">FAQ</div>

				<div class="accordion_wrap">
					<div class="list_count"><span>전체 <em th:text="${faqList.size()}"></em>건</span></div>
					<div class="accordion_list">
						<th:block th:each="faq : ${faqList}">
							<div class="item">
								<div class="q">
									<span>Q.</span>
									<p class="tit" th:text="${faq.title}"></p>
									<div class="btn"><button type="button"><span>보기</span></button></div>
								</div>
								<div class="a" th:text="${faq.content}">

								</div>
							</div>
						</th:block>
					</div><!-- // accordion_list -->
				</div><!-- // accordion_wrap -->
				
			</div>
			
		</section><!-- // container -->
		
	</div><!-- // container_wrap -->


	<th:block th:include="/layer/footer"></th:block>
	
</div><!-- // wrap -->


<!-- gnb 햄버거 메뉴 -->
<div class="gnb_wrap" style="display:none;">

	<div class="nav_wrap">
		<nav>
			<h1 class="nav_header">MENU</h1>
	
			<div class="nav_section">
				<div class="nav_group">
					<h2><a href="#g"><span>서비스 관리</span></a></h2>
					<ul>
						<li><a href="#g"><span>사이트 계정 관리</span></a></li>
						<li><a href="#g"><span>로그인 이용내역</span></a></li>
						<li><a href="#g"><span>서비스 가입</span></a></li>
						<li><a href="#g"><span>서비스 해지</span></a></li>
					</ul>
				</div>
				<div class="nav_group">
					<h2><a href="#g"><span>부가서비스</span></a></h2>
					<ul>
						<li><a href="#g"><span>보안뉴스</span></a></li>
					</ul>
				</div>
				<div class="nav_group">
					<h2><a href="#g"><span>고객지원</span></a></h2>
					<ul>
						<li><a href="#g"><span>이벤트</span></a></li>
						<li><a href="#g"><span>공지사항</span></a></li>
						<li><a href="#g"><span>서비스 이용 가이드</span></a></li>
						<li><a href="#g"><span>자주하는 질문</span></a></li>
						<li><a href="#g"><span>1:1 문의</span></a></li>
					</ul>
				</div>
			</div><!-- // nav_section -->
	
			<div class="nav_footer">
				<ul>
					<li><a href="#g"><span>이용약관</span></a></li>
					<li><a href="#g"><span>개인정보처리방침</span></a></li>
				</ul>
			</div><!-- // nav_footer -->
		</nav>
	
		<div class="btn_close">
			<button type="button"><span>닫기</span></button>
		</div>
	</div><!-- // nav_wrap -->

</div><!-- // gnb_wrap -->



<div class="layer alert type1" style="display:none;">
	<div class="dim"></div>
	<div class="layer_inner">
		<div class="layer_content">
			<div class="tit">제목이 들어갑니다.</div>
			<p>내용이 들어갑니다.</p>
		</div>
		<div class="btn_group">
			<div><button type="button" class="prev"><span>버튼명</span></button></div><!-- prev, back, cancel -->
			<div><button type="button" class="next"><span>확인</span></button></div>
		</div>
	</div>
</div>




<!-- <script src="../../js/slick.js"></script> -->
<script src="../../js/temp.js"></script>

</body>
</html>