<!DOCTYPE html>
<html lang="ko">
	<head>
	<title>서비스 alert, confirm </title>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, viewport-fit=cover">

	<meta name="description" content="설명설명설명">

	<meta property="og:type" content="website">
	<meta property="og:title" content="타이틀타이틀">
	<meta property="og:description" content="설명설명설명">
	<!-- <meta property="og:image" content="../../images/common/safeconnect_meta.png"> -->
	<!-- <meta property="og:url" content="https://www.www.www.www/"> -->

	<meta name="twitter:card" content="summary">
	<meta name="twitter:title" content="타이틀타이틀">
	<meta name="twitter:description" content="설명설명설명">
	<!-- <meta name="twitter:image" content="../../images/common/logo_safeconnect.png"> -->
	<!-- <meta name="twitter:domain" content="https://www.www.www.www/"> -->

	<link rel="stylesheet" href="../../css/reset.css">
	<link rel="stylesheet" href="../../css/common.css">

	<!-- <link rel="shortcut icon" type="image/x-icon" href="../../../images/common/favicon.ico"> -->

	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Open+Sans:wght@300;400;500;600;700;800&display=block" rel="stylesheet">
</head>
<body>





<div class="dim" style="display:block;"></div>
<!-- 기본 샘플 -->
<div class="layer alert" style="display:none;">
	<div class="layer_content">
		<div class="tit">제목 제목</div><!-- 제목이 없는 경우 삭제 -->
		<div class="txt">내용 내용</div>
	</div>
	<div class="btn_group">
		<div><button type="button" class="prev"><span>버튼명</span></button></div><!-- prev, back, cancel 취소성 버튼, 확인만 있는 경우 줄 통째로 삭제 -->
		<div><button type="button" class="next"><span>확인</span></button></div><!-- next, close 진행성 버튼. -->
	</div>
</div>


<div class="layer alert" style="display:block;">
	<div class="layer_content">
		<div class="tit">제목이 들어갑니다.</div>
		<div class="txt">
			내용 내용<br />
			내용 내용이 들어갑니다.
		</div>
	</div>
	<div class="btn_group">
		<div><button type="button" class="prev"><span>취소</span></button></div>
		<div><button type="button" class="next"><span>확인</span></button></div>
	</div>
</div>


<div class="layer alert" style="display:block;">
	<div class="layer_content">
		<div class="txt">
			내용 내용<br />
			내용 내용이 들어갑니다.
		</div>
	</div>
	<div class="btn_group">
		<div><button type="button" class="next"><span>확인</span></button></div>
	</div>
</div>


<div class="layer alert" style="display:block;">
	<div class="layer_content">
		<div class="txt">
			내용 내용<br />
			내용 내용이 들어갑니다.
		</div>
	</div>
	<div class="btn_group">
		<div><button type="button" class="next"><span>닫기</span></button></div>
	</div>
</div>


<div class="layer alert" style="display:block;">
	<div class="layer_content">
		<div class="txt">
			내용 내용<br />
			내용 내용이 들어갑니다.
		</div>
	</div>
	<div class="btn_group">
		<div><button type="button" class="cancel"><span>취소</span></button></div>
		<div><button type="button" class="next"><span>확인</span></button></div>
	</div>
</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="../../js/temp.js"></script>


</body>
</html>