<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="footer_wrap" th:fragment="footer">
  <footer class="footer">
    <!-- <h2 class="logo_aton"><img src="../../images/common/logo_ATON.svg" alt="아톤"></h2> -->
    <h2 class="logo_aton">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 46.329 11.744">
        <g id="logo_ATON" transform="translate(0 0.002)">
          <path id="logo_ATON_N" d="M446.686,151.446v11.7l-2.1-1.6-7.548-5.8v7.4h-2.1V151.479l2.1,1.6,7.548,5.8v-7.452Z" transform="translate(-400.357 -151.429)" fill="#999"/>
          <path id="logo_ATON_O" d="M407.6,157.277a5.871,5.871,0,1,1-5.871-5.848,5.871,5.871,0,0,1,5.871,5.848Zm-2.1,0a3.774,3.774,0,1,0-3.774,3.76,3.774,3.774,0,0,0,3.774-3.76Z" transform="translate(-374.288 -151.429)" fill="#999"/>
          <path id="logo_ATON_T" d="M371.823,151.479v2.088h-4.814v9.607h-2.1v-9.607H360.1v-2.088Z" transform="translate(-350.436 -151.462)" fill="#999"/>
          <path id="logo_ATON_A" d="M343.063,163.125h-2.348l-1.074-2.088-2.567-5.013-2.566,5.013-1.074,2.088h-2.348l1.074-2.088,4.915-9.607,4.915,9.607Z" transform="translate(-331.086 -151.429)" fill="#999"/>
        </g>
      </svg>
    </h2>

    <ul class="site_info">
      <li><a href="#test1" onclick="openLayer('#test1');">이용약관</a></li>
      <li><a href="#test2" onclick="openLayer('#test2');"><strong>개인정보처리방침</strong></a></li>
    </ul>
    <div class="company_info">
      <address>서울시 영등포구 여의대로 108 파크원타워1 26층 (주)아톤</address>
      <div>
        <p class="tel">Tel. 02)1670-4273</p>
        <p class="fax">Fax. 02)786-4273</p>
        <p class="post">우.07335</p>
      </div>
    </div>

    <p class="copyright">&copy; ATON Inc.</p>
  </footer>

</div>
</body>
</html>