<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="header_wrap" th:fragment="gnbFragment(type)">
    <div class="gnb_wrap">
        <ul>
            <th:block th:each="gnb : ${gnbList}" th:id="${gnb.title}">
                <li th:if="${gnb.title} == ${type}" th:classappend="active">
                    <a type="button" th:href="@{${gnb.url}}"><span th:utext="${gnb.title}"></span></a>
                </li>
                <li th:unless="${gnb.title} == ${type}">
                    <a type="button" th:href="@{${gnb.url}}"><span th:utext="${gnb.title}"></span></a>
                </li>
            </th:block>
        </ul>
    </div>
</div><!-- // header_wrap -->

</body>
</html>