<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <div class="header_wrap" th:fragment="header">
    <header>
      <div class="inner">
        <div class="header">
          <div class="util-btn">
            <!-- <button type="button" class="btn_home"><span>홈</span></button> -->
            <button th:onclick="window.history.back()" type="button" class="btn_prev"><span>이전</span></button>
          </div>
          <h1>서비스이름</h1>
<!--          <p>Your session will expire in <span th:text="${#session.maxInactiveInterval}">0</span> minutes.</p>-->
          <div style="display: flex; justify-content: space-between">
            <a sec:authorize="isAuthenticated()" disabled th:text="|${#authentication.name} 님 안녕하세요|"></a>
            <a sec:authorize="isAuthenticated()" type="button" th:href="@{/logout}">로그아웃</a>
          </div>

          <div class="tools-btn">
            <!-- <button type="button" class="btn_menu"><span>메뉴</span></button> -->
            <button type="button" class="btn_close"><span>닫기</span></button>
          </div>
        </div>
      </div>
    </header>
  </div><!-- // header_wrap -->
</body>
</html>