<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:replace="common/head :: fragmentHead"/>
	<script src="/js/slick.js"></script>
</head>
<body>

<div class="wrap">
	<th:block th:replace="layer/header :: header"></th:block>
	<th:block th:replace="layer/gnbHeader :: gnbFragment(이벤트)"></th:block>

	<div class="container_wrap">

		<section class="container">

			<div class="content_wrap">

				<div class="event_wrap">
					<div class="event_sort">
						<label><input type="radio" name="ra1" id="all" /><span class="txt"><a th:href="@{'/event?type=all'}">전체</a></span></label>
						<label><input type="radio" name="ra1" id="ing"/><span class="txt"><a th:href="@{'/event?type=ing'}">진행중</a></span></label>
						<label><input type="radio" name="ra1" id="end"/><span class="txt"><a th:href="@{'/event?type=end'}">종료</a></span></label>
					</div>
					<div class="event_list">
						<ul>
							<li th:if="${eventList.size() > 0}" class="item" th:each="event : ${eventList}">
								<div class="thum">
									<a th:href="@{|${'/event/'}${event.id}|}"><img th:src="${event.img_url}"></a>
								</div>
								<div class="tit"><strong th:utext="${event.title}"></strong></div>
								<span class="date" th:text="|${event.startDate} ${'~'} ${event.endDate}|"></span>
							</li>
							<!-- // 진행중/종료된 이벤트가 없을경우-->
							<li th:if="${eventList.size() == 0}" class="nodata"><p>진행중인 이벤트가 없습니다.</p></li>
						</ul>
					</div>
				</div><!-- // event_wrap -->

			</div>
			
		</section><!-- // container -->
		
	</div><!-- // container_wrap -->


	<th:block th:replace="layer/footer"/>
	
</div><!-- // wrap -->


<script src="../../js/temp.js"></script>
<script>
	$(document).ready(function (){
		// 파라미터 type가져와서 checked 옵션 부여
		let type = "[[${param.type}]]";
		switch (type){
			case "all":
				$("#all").prop("checked", true); // attr과 다른 점 : boolean 값을 부여할 수 있다.
				break;
			case "ing":
				$("#ing").prop("checked", true);
				break;
			case "end":
				$("#end").prop("checked", true);
				break;
		}

	})
</script>
</body>
</html>