<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:replace="common/head :: fragmentHead"/>
	<script src="/js/slick.js"></script>
</head>
<body>

<div class="wrap">
	<th:block th:replace="layer/header :: header"></th:block>
	<th:block th:replace="layer/gnbHeader :: gnbFragment(고객센터)"></th:block>

	<div class="container_wrap">

		<section class="container">

			<div class="content_wrap">

				<div class="main_customer">
					<div th:each="mainInfo : ${mainInfoList}" th:if="${mainInfo.subject == '전화문의'}">
						<strong class="tit" th:utext="${mainInfo.subject}"></strong>
						<a th:href="@{${mainInfo.url}}" th:text="${mainInfo.getSub_info}"></a>
						<p th:text="${mainInfo.time}"></p>
					</div>
					<ul>
						<li th:each="mainInfo : ${mainInfoList}" th:if="${mainInfo.subject == '이메일 문의' || mainInfo.subject == '서비스별 문의'}">
							<a th:href="${mainInfo.url}"><span th:text="${mainInfo.subject}"></span></a>
						</li>
					</ul>
				</div>

				<hr class="line">

				<div>
					<th:block th:each="subject,index : ${customerList}">
						<ul class="link_list">
							<li th:if="${index.index % 3 != 0}"><a th:href="@{${subject.url}}"><span th:text="${subject.subject}"></span></a></li>
							<hr th:if="${index.index % 3 == 0}" class="line">
							<li th:if="${index.index % 3 == 0}"><a th:href="@{${subject.url}}"><span th:text="${subject.subject}"></span></a></li>
						</ul>
					</th:block>
				</div>

			</div>
			
		</section><!-- // container -->
		
	</div><!-- // container_wrap -->


	<th:block th:include="/layer/footer"></th:block>
	
</div><!-- // wrap -->


<script src="../../js/temp.js"></script>


</body>
</html>