<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<th:block th:replace="common/head :: fragmentHead"/>
		<script src="/js/slick.js"></script>
	</head>
<body>

<div class="wrap">
	<th:block th:replace="layer/header :: header"></th:block>
	<th:block th:replace="layer/gnbHeader :: gnbFragment(서비스)"></th:block>

	<div class="container_wrap">

		<section class="container">

			<div>
				<div class="main_bnr" id="main_bnr">
					<div class="item" th:each="info : ${infoList}">
						<a th:href="@{|${info.detail_url}${info.id}|}"><img th:src="${info.img_url}" alt="배너"></a>
					</div>
				</div>
			</div>

			<div class="content_wrap">

				<div class="main_service_list">
					<ul>
						<li th:each="service : ${serviceList}">
							<a th:href="@{${service.url}}"><span class="icon"><img src="/images/main/icon_service_stock.png" alt=""></span><span th:text="${service.service_name}" class="txt"></span></a>
						</li>
					</ul>
				</div>

				<hr class="line" />

				<div class="stock_wrap" th:each="service : ${serviceList}">
					<span class="tit" th:text="${service.service_name}"></span>
					<p class="txt" th:text="${service.title}"></p>
					<ul>
						<li th:each="subContent : ${subContentList}" th:if="${service.service_name == '증권추천'}">
							<a href="#g">
								<strong class="tit" th:text="${subContent.subject}"></strong>
								<span class="txt" th:text="${subContent.content}"></span>
							</a>
						</li>
					</ul>
				</div>

			</div>
			
		</section><!-- // container -->
		
	</div><!-- // container_wrap -->

	<th:block th:include="/layer/footer"></th:block>
	
</div><!-- // wrap -->


<!-- gnb 햄버거 메뉴 -->
<div class="gnb_wrap" style="display:none;">

	<div class="nav_wrap">
		<nav>
			<h1 class="nav_header">MENU</h1>
	
			<div class="nav_section">
				<div class="nav_group">
					<h2><a href="#g"><span>서비스 관리</span></a></h2>
					<ul>
						<li><a href="#g"><span>사이트 계정 관리</span></a></li>
						<li><a href="#g"><span>로그인 이용내역</span></a></li>
						<li><a href="#g"><span>서비스 가입</span></a></li>
						<li><a href="#g"><span>서비스 해지</span></a></li>
					</ul>
				</div>
				<div class="nav_group">
					<h2><a href="#g"><span>부가서비스</span></a></h2>
					<ul>
						<li><a href="#g"><span>보안뉴스</span></a></li>
					</ul>
				</div>
				<div class="nav_group">
					<h2><a href="#g"><span>고객지원</span></a></h2>
					<ul>
						<li><a href="#g"><span>이벤트</span></a></li>
						<li><a href="#g"><span>공지사항</span></a></li>
						<li><a href="#g"><span>서비스 이용 가이드</span></a></li>
						<li><a href="#g"><span>자주하는 질문</span></a></li>
						<li><a href="#g"><span>1:1 문의</span></a></li>
					</ul>
				</div>
			</div><!-- // nav_section -->
	
			<div class="nav_footer">
				<ul>
					<li><a href="#g"><span>이용약관</span></a></li>
					<li><a href="#g"><span>개인정보처리방침</span></a></li>
				</ul>
			</div><!-- // nav_footer -->
		</nav>
	
		<div class="btn_close">
			<button type="button"><span>닫기</span></button>
		</div>
	</div><!-- // nav_wrap -->

</div><!-- // gnb_wrap -->



<div class="layer alert type1" style="display:none;">
	<div class="dim"></div>
	<div class="layer_inner">
		<div class="layer_content">
			<div class="tit">제목이 들어갑니다.</div>
			<p>내용이 들어갑니다.</p>
		</div>
		<div class="btn_group">
			<div><button type="button" class="prev"><span>버튼명</span></button></div><!-- prev, back, cancel -->
			<div><button type="button" class="next"><span>확인</span></button></div>
		</div>
	</div>
</div>




<!-- <script src="../../../js/slick.js"></script> -->
<!--<script src="../../js/temp.js"></script>-->

<script>


// $(".main_bnr").slick({
// 		infinite: false,
// 		arrows: true,
// 		speed:300,
// 		slidesToShow: 1,
// 		slidesToScroll: 3,
// 		dots: false,
// 		centerMode: true,
// 		focusOnSelect: false,
// 	});


$(document).ready(function(){
	$('#main_bnr').on('init', function(event, slick) {
		$(this).append('<div class="slick-counter"><span class="current"></span> / <span class="total"></span></div>');
		$('.current').text(slick.currentSlide + 1);
		$('.total').text(slick.slideCount);
	})
	.slick({
		autoplay: true,
		autoplaySpeed: 3000,
		infinite: true,
		arrows: false
	})
	.on('beforeChange', function(event, slick, currentSlide, nextSlide) {
		$('.current').text(nextSlide + 1);
	});
})
</script>


</body>
</html>