<!DOCTYPE html>
<html lang="ko">
	<head>
	<title>모바일웹 샘플</title>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, viewport-fit=cover">

	<!-- 주소창 컬러 -->
	<meta name="theme-color" content="var(--theme)">

	<meta name="description" content="설명설명설명">

	<meta property="og:type" content="website"> 
	<meta property="og:title" content="타이틀타이틀">
	<meta property="og:description" content="설명설명설명">
	<meta property="og:url" content="https://www.www.www.www/">

	<meta name="twitter:card" content="summary">
	<meta name="twitter:title" content="타이틀타이틀">
	<meta name="twitter:description" content="설명설명설명">
	<meta name="twitter:domain" content="https://www.www.www.www/">

	<link rel="stylesheet" href="../../css/reset.css">
	<link rel="stylesheet" href="../../css/common.css">

	<link rel="stylesheet" href="../../css/slick.css">

	<!-- <link rel="shortcut icon" type="image/x-icon" href="../../../images/common/favicon.ico"> -->

	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Open+Sans:wght@300;400;500;600;700;800&display=block" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="../../js/slick.js"></script>
</head>
<body>

<div class="wrap">
	
	<div class="header_wrap">
		<header>
			<div class="inner">
				<div class="header">
					<div class="util-btn">
						<button type="button" class="btn_home"><span>홈</span></button>
						<button type="button" class="btn_prev"><span>이전</span></button>
					</div>
					<h1>서비스이름</h1>
					<div class="tools-btn">
						<button type="button" class="btn_menu"><span>메뉴</span></button>
						<button type="button" class="btn_close"><span>닫기</span></button>
					</div>
				</div>
			</div>
		</header>

		<div class="gnb_wrap">
			<!-- <ul class="gnb">
				<li class="active"><button type="button"><span>서비스</span></button></li>
				<li><button type="button"><span>이벤트</span></button></li>
				<li><button type="button"><span>고객센터</span></button></li>
			</ul> -->
			<ul class="gnb">
				<li class="active"><a type="button"><span>서비스</span></a></li>
				<li><a type="button"><span>이벤트</span></a></li>
				<li><a type="button"><span>고객센터</span></a></li>
			</ul>
		</div>
	</div><!-- // header_wrap -->


	<div class="container_wrap">

		<section class="container">

			<div>
				<div class="main_bnr" id="main_bnr">
					<div class="item">
						<a href="#g"><img src="https://placeimg.com/360/200/any" alt="배너1"></a>
					</div>
					<div class="item">
						<a href="#g"><img src="https://placeimg.com/360/200/animals" alt="배너2"></a>
					</div>
					<div class="item">
						<a href="#g"><img src="https://placeimg.com/360/200/arch" alt="배너3"></a>
					</div>
				</div>
			</div>

			<div class="content_wrap">

				<div class="main_service_list">
					<ul>
						<li>
							<a href="#g"><span class="icon"><img src="../../images/main/icon_service_stock.png" alt=""></span><span class="txt">증권추천</span></a>
						</li>
						<li>
							<a href="#g"><span class="icon"><img src="../../images/main/icon_service_car.png" alt=""></span><span class="txt">인증자동차</span></a>
						</li>
						<li>
							<a href="#g"><span class="icon"><img src="../../images/main/icon_service_insurance.png" alt=""></span><span class="txt">자동차보험</span></a>
						</li>
						<li>
							<a href="#g"><span class="icon"><img src="../../images/main/icon_service_phishing.png" alt=""></span><span class="txt">스마트피싱보호</span></a>
						</li>
						<li>
							<a href="#g"><span class="icon"><img src="../../images/main/icon_service_onekeeper.png" alt=""></span><span class="txt">개인정보지키미</span></a>
						</li>
					</ul>
				</div>

				<hr class="line" />

				<div class="stock_wrap">
					<span class="tit">증권추천</span>
					<p class="txt">주식투자 어려워 말고 시작해보세요!</p>
					<ul>
						<li>
							<a href="#g">
								<strong class="tit">투자전략</strong>
								<span class="txt">로보어드바이저 추천</span>
							</a>
						</li>
						<li>
							<a href="#g">
								<strong class="tit">추천종목</strong>
								<span class="txt">가장 핫한 증시 테마 추천</span>
							</a>
						</li>
						<li>
							<a href="#g">
								<strong class="tit">종목랭킹</strong>
								<span class="txt">주요 이슈와 증권사 추천주</span>
							</a>
						</li>
					</ul>
				</div>

			</div>
			
		</section><!-- // container -->
		
	</div><!-- // container_wrap -->


	<div class="footer_wrap">
		<footer class="footer">
			<!-- <h2 class="logo_aton"><img src="../../images/common/logo_ATON.svg" alt="아톤"></h2> -->
			<h2 class="logo_aton">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 46.329 11.744">
					<g id="logo_ATON" transform="translate(0 0.002)">
					  <path id="logo_ATON_N" d="M446.686,151.446v11.7l-2.1-1.6-7.548-5.8v7.4h-2.1V151.479l2.1,1.6,7.548,5.8v-7.452Z" transform="translate(-400.357 -151.429)" fill="#999"/>
					  <path id="logo_ATON_O" d="M407.6,157.277a5.871,5.871,0,1,1-5.871-5.848,5.871,5.871,0,0,1,5.871,5.848Zm-2.1,0a3.774,3.774,0,1,0-3.774,3.76,3.774,3.774,0,0,0,3.774-3.76Z" transform="translate(-374.288 -151.429)" fill="#999"/>
					  <path id="logo_ATON_T" d="M371.823,151.479v2.088h-4.814v9.607h-2.1v-9.607H360.1v-2.088Z" transform="translate(-350.436 -151.462)" fill="#999"/>
					  <path id="logo_ATON_A" d="M343.063,163.125h-2.348l-1.074-2.088-2.567-5.013-2.566,5.013-1.074,2.088h-2.348l1.074-2.088,4.915-9.607,4.915,9.607Z" transform="translate(-331.086 -151.429)" fill="#999"/>
					</g>
				  </svg>
			</h2>
			
			<ul class="site_info">
				<li><a href="#test1" onclick="openLayer('#test1');">이용약관</a></li>
				<li><a href="#test2" onclick="openLayer('#test2');"><strong>개인정보처리방침</strong></a></li>
			</ul>
			<div class="company_info">
				<address>서울시 영등포구 여의대로 108 파크원타워1 26층 (주)아톤</address>
				<div>
					<p class="tel">Tel. 02)1670-4273</p>
					<p class="fax">Fax. 02)786-4273</p>
					<p class="post">우.07335</p>
				</div>	
			</div>
			
			<p class="copyright">&copy; ATON Inc.</p>
		</footer>
	</div>

</div><!-- // wrap -->





<div class="layer alert type1" style="display:none;">
	<div class="dim"></div>
	<div class="layer_inner">
		<div class="layer_content">
			<div class="tit">제목이 들어갑니다.</div>
			<p>내용이 들어갑니다.</p>
		</div>
		<div class="btn_group">
			<div><button type="button" class="prev"><span>버튼명</span></button></div><!-- prev, back, cancel -->
			<div><button type="button" class="next"><span>확인</span></button></div>
		</div>
	</div>
</div>
<div id="dididid"></div>
<button id="ajaxButton" type="button">Make a request</button>



<!-- <script src="../../../js/slick.js"></script> -->
<script src="../../js/temp.js"></script>

<script>



function load_home (e) {
    (e || window.event).preventDefault();

    fetch("site_nav.html" /*, options */)
    .then((response) => response.text())
    .then((html) => {
        document.getElementById("dididid").innerHTML = html;
		// $(".side_nav_wrap").addClass("active")
    })
    .catch((error) => {
        console.warn(error);
    });
	
} 

// $(".main_bnr").slick({
// 		infinite: false,
// 		arrows: true,
// 		speed:300,
// 		slidesToShow: 1,
// 		slidesToScroll: 3,
// 		dots: false,
// 		centerMode: true,
// 		focusOnSelect: false,
// 	});


const btnXXX = document.querySelector(".btn_menu");
btnXXX.addEventListener("click", function(){
	document.querySelector(".side_nav_wrap").classList.add("active")
})

$(document).ready(function(){
	$("#ajaxButton").on("click", function(){
		load_home()
	})
	$('#main_bnr').on('init', function(event, slick) {
		$(this).append('<div class="slick-counter"><span class="current"></span> / <span class="total"></span></div>');
		$('.current').text(slick.currentSlide + 1);
		$('.total').text(slick.slideCount);
	})
	.slick({
		autoplay: true,
		autoplaySpeed: 3000,
		infinite: true,
		arrows: false
	})
	.on('beforeChange', function(event, slick, currentSlide, nextSlide) {
		$('.current').text(nextSlide + 1);
	});
})
</script>


</body>
</html>