<!-- side menu -->
<div class="side_nav_wrap">
	
	<div class="nav_wrap">
		<nav>
			<h1 class="nav_header">MENU</h1>
	
			<div class="nav_section">
				<div class="nav_group">
					<h2><a href="#g"><span>서비스 관리</span></a></h2>
					<ul>
						<li><a href="#g"><span>사이트 계정 관리</span></a></li>
						<li><a href="#g"><span>로그인 이용내역</span></a></li>
						<li><a href="#g"><span>서비스 가입</span></a></li>
						<li><a href="#g"><span>서비스 해지</span></a></li>
					</ul>
				</div>
				<div class="nav_group">
					<h2><a href="#g"><span>부가서비스</span></a></h2>
					<ul>
						<li><a href="#g"><span>보안뉴스</span></a></li>
					</ul>
				</div>
				<div class="nav_group">
					<h2><a href="#g"><span>고객지원</span></a></h2>
					<ul>
						<li><a href="#g"><span>이벤트</span></a></li>
						<li><a href="#g"><span>공지사항</span></a></li>
						<li><a href="#g"><span>서비스 이용 가이드</span></a></li>
						<li><a href="#g"><span>자주하는 질문</span></a></li>
						<li><a href="#g"><span>1:1 문의</span></a></li>
					</ul>
				</div>
				<div class="nav_group">
					<h2><a href="#g"><span>고객지원</span></a></h2>
					<ul>
						<li><a href="#g"><span>이벤트</span></a></li>
						<li><a href="#g"><span>공지사항</span></a></li>
						<li><a href="#g"><span>서비스 이용 가이드</span></a></li>
						<li><a href="#g"><span>자주하는 질문</span></a></li>
						<li><a href="#g"><span>1:1 문의</span></a></li>
					</ul>
				</div>
				<div class="nav_group">
					<h2><a href="#g"><span>고객지원</span></a></h2>
					<ul>
						<li><a href="#g"><span>이벤트</span></a></li>
						<li><a href="#g"><span>공지사항</span></a></li>
						<li><a href="#g"><span>서비스 이용 가이드</span></a></li>
						<li><a href="#g"><span>자주하는 질문</span></a></li>
						<li><a href="#g"><span>1:1 문의</span></a></li>
					</ul>
				</div>
				<div class="nav_group">
					<h2><a href="#g"><span>고객지원</span></a></h2>
					<ul>
						<li><a href="#g"><span>이벤트</span></a></li>
						<li><a href="#g"><span>공지사항</span></a></li>
						<li><a href="#g"><span>서비스 이용 가이드</span></a></li>
						<li><a href="#g"><span>자주하는 질문</span></a></li>
						<li><a href="#g"><span>1:1 문의</span></a></li>
					</ul>
				</div>
			</div><!-- // nav_section -->
	
			<div class="nav_footer">
				<ul>
					<li><a href="#g"><span>이용약관</span></a></li>
					<li><a href="#g"><span>개인정보처리방침</span></a></li>
				</ul>
			</div><!-- // nav_footer -->
		</nav>
	
		<div class="btn_close">
			<button type="button"><span>닫기</span></button>
		</div>
	</div><!-- // nav_wrap -->

</div><!-- // side_nav_wrap -->