<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:replace="common/head :: fragmentHead"/>
	<script src="/js/slick.js"></script>
</head>
<body>

<div class="wrap">

	<th:block th:replace="layer/header :: header"></th:block>


	<div class="container_wrap">

		<section class="container">

			<div class="content_wrap">

				<div class="pageTit">이벤트</div>

				<div class="event_wrap">
					<div class="event_view">
						<div class="event_title">
							<div class="inner">
								<h2 th:text="${eventDetail.title}"></h2>
								<span class="date" th:utext="${eventDetail.regDate}"></span>
							</div>
						</div><!-- // event_title -->
				
						<div class="event_content">
							<div><img th:src="${eventDetail.url}" ></div>
						</div><!-- // event_content -->
					</div><!-- // event_view -->

					<div class="event_footer">
						<div class="btn_wrap" >
							<div class="btn" id="ing" style="display:none;"><a href="#g" style="display: block; padding:1em; text-align:center; background-color:var(--main-color); color:#fff;" type="button" class="btn_ev_join"><span>이벤트 참여하기</span></a></div>
							<div class="btn" id="end" style="display:none;"><a href="#g" style="display: block; padding:1em; text-align:center; background-color:rgba(0,0,0,0.4); color:#fff;" type="button" class="btn_ev_join"><span>종료</span></a></div>
						</div>
					</div><!-- // event_footer -->

				</div><!-- // event_wrap -->

			</div>
			
		</section><!-- // container -->
		
	</div><!-- // container_wrap -->


	<th:block th:include="/layer/footer"></th:block>
	
</div><!-- // wrap -->




<div class="dim"></div>


<div class="layer alert" id="ev_temp"><!-- id값은 개발에 맞게 수정 -->
	<div class="layer_inner">
		<div class="layer_content">
			<p>이벤트 참여가 완료되었습니다.</p>
		</div>
		<div class="btn_group">
			<div><button type="button" class="next"><span>확인</span></button></div>
		</div>
	</div>
</div>




<!-- <script src="../../js/slick.js"></script> -->
<script src="../../js/temp.js" defer></script>
<script>
	$(document).ready(function (){
		let time = '[[${eventDetail.endDate}]]';
		let date = new Date(Date.parse(time));
		let now = new Date();
		if(now.getTime() <= date.getTime()){
			$("#ing").css("display", "block")
		}else{
			$("#end").css("display", "block")
		}
	})
</script>
</body>
</html>