<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>홈</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>
<th:block th:replace="common/header :: navBar"/>

    <!-- Content section-->
    <section class="py-5">
        <div class="container my-5">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <!--chart area-->
                    <canvas id="serviceChart"></canvas>
                </div>
                <div class="col-lg-6">
                    <!--chart area-->
                    <canvas id="questionChart"></canvas>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer-->
    <footer class="py-5 bg-dark">
        <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
    </footer>
    <!-- Bootstrap core JS-->
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!--Chart.js-->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    let permitCount = [[${permitCount}]];
    let waitCount = [[${waitCount}]];
    let returnCont = [[${returnCount}]];

    let answerCount = [[${answerCount}]];
    let notAnswerCount = [[${notAnswerCount}]];

    // 차트 데이터 정의
    let serviceData = {
        datasets: [{
            data: [permitCount, waitCount, returnCont],
            backgroundColor: ['#006400', '#808080', '#8B0000'],
            borderWidth: 0
        }],
        labels: ['승인', '대기', '반려']
    };

    let questionData = {
        datasets: [{
            data: [answerCount, notAnswerCount],
            backgroundColor: ['#006400', '#808080'],
            borderWidth: 0
        }],
        labels: ['답변', '대기']
    }

    // 차트 그리기
    let serviceCtx = document.getElementById('serviceChart').getContext('2d');
    let serviceChart = new Chart(serviceCtx, {
        type: 'doughnut',
        data: serviceData,
        options: {
            responsive: false,
            cutout: '40%',
            plugins: {
                legend: {
                    position: 'top'
                },
                title:{
                    display: true,
                    text: "서비스 현황"
                }
            }
        }
    });

    let questionCtx = document.getElementById('questionChart').getContext('2d');
    let questionChart = new Chart(questionCtx, {
        type: 'doughnut',
        data: questionData,
        options: {
            responsive: false,
            cutout: '40%',
            plugins: {
                legend: {
                    position: 'top'
                },
                title:{
                    display: true,
                    text: "문의 현황"
                }
            }
        }
    });

</script>
<style>
    footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
    }
</style>
</html>
