<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>문의 상세</title>
  <meta name="_csrf" th:content="${_csrf.token}"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>
<th:block sec:authorize="hasRole('ROLE_ADMIN')" th:replace="common/admin_header :: adminNavBar"/>
<th:block sec:authorize="hasRole('ROLE_USER')" th:replace="common/header :: navBar"/>

<div class="container">
    <div class="row justify-content-center">
    <div class="col-lg-5">
      <div class="container">

        <div class="card shadow-lg border-0 rounded-lg mt-5">
          <div class="card-header">
            <h3 class="mb-0" th:text="${questionDetail.title}">게시물 제목</h3>
          </div>
          <div class="card-footer text-muted">
            <div class="author-info">
              <span th:text="|작성일 : ${questionDetail.regAt}|">작성일</span>
            </div>
          </div>
          <div class="card-body">
            <p class="mb-0" th:text="${questionDetail.content}">게시물 내용이 여기에 들어갑니다.</p>
          </div>
        </div>

        <!--답변 내용-->
        <div>
          <div class="card">
            <div class="card-header">
              <h3>답변 내용</h3>
            </div>
            <div class="card-body">
              <p th:each="answer : ${answerList}" th:text="${answer.answer}"></p>
            </div>
          </div>
        </div>

        <!--관리자 접속시 답변 부분-->
        <div sec:authorize="hasRole('ROLE_ADMIN')" style="text-align: center; display: flex; flex-direction: column;">
          <textarea id="answer"></textarea>
          <button type="submit" id="ok" class="btn btn-secondary">답변하기
          </button>
        </div>

      </div>
    </div>

  </div>

</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>
  /*문의 답변 등록 함수*/
  $("#ok").on("click", function (){
    $.ajax({
      url: "/admin/question/answer",
      method: "POST",
      data: JSON.stringify({
        answer: $("#answer").val(), // 답변 내용
        questionId: [[${questionDetail.id}]]
      }),
      contentType: "application/json; charset=utf-8",
      dataType: 'json',
      beforeSend: function(xhr) {
        let csrfHeader = $("meta[name='_csrf_header']").attr("content");
        if (csrfHeader) {
          xhr.setRequestHeader(csrfHeader, $("meta[name='_csrf']").attr("content"));
        }
      },
      success:function (response){
        alert("등록 성공");
        location.href = "/service/question/detail?id=" + [[${questionDetail.id}]];
      },
      error: function (){
        alert("등록 실패");
      }
    })


  })
</script>
<style>
  .card{
    margin: 40px;
  }

</style>
</html>