<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="_csrf" th:content="${_csrf.token}"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
  <title>서비스</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
  <link href="/assets/css/styles.css" rel="stylesheet" />
  <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>
<body>
<th:block sec:authorize="hasRole('ROLE_USER')" th:replace="common/header :: navBar"/>
<th:block sec:authorize="hasRole('ROLE_ADMIN')" th:replace="common/admin_header :: adminNavBar"/>

<!--  wrapper -->
<div class="container my-5">
  <!--정렬, 등록 버튼-->
  <div class="d-flex flex-row-reverse">
    <div sec:authorize="hasRole('ROLE_USER')" style="padding: 10px">
      <a type="button" class="btn btn-secondary" th:href="@{/service/register}">등록</a>
    </div>
    <!--사용자 이름 검색창-->
    <div id="input-form">
      이름 : <input type="text" id="keyword" />
    </div>

    <div style="padding: 10px">
      <select id="sortSelect" class="form-select form-select-sm" aria-label=".form-select-sm example">
        <option value="전체" selected>전체</option>
        <option value="승인">승인</option>
        <option value="대기">대기</option>
        <option value="반려">반려</option>
      </select>
    </div>

  </div>
  <!-- End 정렬, 등록 버튼-->
  <!-- 테이블   -->
  <div class="row justify-content-center">
    <div class="card mb-4">
      <div class="card-header">
        <i class="fas fa-table me-1"></i>
        서비스 신청 정보
      </div>
      <div class="card-body">
        <table id="adminTable" class="table">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">이메일</th>
            <th scope="col">승인 여부</th>
            <th scope="col">요청 일시</th>
            <th scope="col">확인 일시</th>
          </tr>
          </thead>
          <tbody id="body">
          <tr th:each="service, index : ${serviceList}" style="cursor: pointer" th:value="${service.id}" th:onclick="goDetail([[${service.id}]])">
            <td th:text="${index.index+1}"></td>
            <td th:text="${service.email}"></td>
            <td th:if="${service.isPermit == 0}" th:text="대기"></td>
            <td th:if="${service.isPermit == 1}" th:text="승인"></td>
            <td th:if="${service.isPermit == 2}" th:text="반려"></td>
            <td th:text="${service.regAt}"></td>
            <td th:text="${service.confirmAt}"></td>
          </tr>
          <div id="btnContainer"></div>
          </tbody>
        </table>
      </div>
    </div>

  </div>
  <!-- End 테이블   -->
</div>
<!-- End wrapper -->

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="/assets/js/common.js"></script>
<script>
  // 서비스 상세 페이지 요청 함수
  function goDetail(id){
    window.location.href="/service/detail?id="+id;
  }

  $(document).ready(function (){
    /*테이블 페이지 버튼 생성*/
    makePageBtn([[${serviceList.size()}]]);

    /*이름 검색 기능*/
    $("#keyword").keyup(function (){
      let word = $(this).val();
      $("#adminTable > tbody > tr").hide();
      // td:nth-child => 3번째요소에 word가 포함된것만 보여줌
      // 요소의 인덱스는 1부터 시작
      let isPermit = $("#sortSelect").val();
      let temp = $("#adminTable > tbody > tr > td:nth-child(3):contains('"+word+"')");

      if(isPermit !== "전체"){
        temp = $("#adminTable > tbody > tr").filter(function() { // filter는 true만 반환
          return ($(this).find("td:nth-child(3):contains('"+word+"')").length > 0 && $(this).find("td:nth-child(4)").text() == isPermit);
        });
        temp.show()
        return;
      }

      $(temp).parent().show();
    })
    /*END 이름 검색 기능*/

    /*select box 검색*/
    $("#sortSelect").on("change", function (){
      let isPermit = $(this).val();
      // 전체 보기 경우
      if(isPermit === "전체"){
        $("#adminTable > tbody > tr > td:nth-child(3):contains('')").parent().show();
        return;
      }

      $("#adminTable > tbody > tr").hide();

      $("#adminTable > tbody > tr > td:nth-child(3)").filter(function() {
        return $(this).text() === isPermit;
      }).parent().show();
    })
    /*End select box 검색*/

  })

</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
</html>