<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>사용자 정보 변경</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>
<th:block sec:authorize="hasRole('ROLE_ADMIN')" th:replace="common/admin_header :: adminNavBar"/>
<th:block sec:authorize="hasRole('ROLE_USER')" th:replace="common/header :: navBar"/>

<!--  wrapper -->
<div id="layoutAuthentication">
    <div id="layoutAuthentication_content">
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-5">
                        <div class="card shadow-lg border-0 rounded-lg mt-5">
                            <div class="card-header"><h3 class="text-center font-weight-light my-4">회원 정보</h3></div>
                            <div class="card-body">
                                <form id="form" onsubmit="return false;">
                                    <div>
                                        <label for="password" th:classappend="form-control" name="password">이름
                                            <a th:href="@{/user/modify/userName}">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                                     class="bi bi-pen" viewBox="0 0 16 16">
                                                    <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
                                                </svg>
                                            </a>
                                        </label>
                                        <input class="form-control form-control-lg light-300" type="password" name="password" id="password" disabled th:placeholder="${userProfile.name}">
                                    </div>
                                    <div>
                                        <label th:classappend="form-control" name="password">비밀번호
                                            <a th:href="@{/user/modify/password}">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                                     class="bi bi-pen" viewBox="0 0 16 16">
                                                    <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
                                                </svg>
                                            </a>
                                        </label>
                                        <input class="form-control form-control-lg light-300" type="password" name="password" disabled th:placeholder="${'*****'}">
                                    </div>
                                    <div>
                                        <label th:classappend="form-control" name="passwordCheck">전화번호</label>
                                        <input class="form-control form-control-lg light-300" type="password" name="passwordCheck" disabled th:placeholder="${userProfile.phoneNo}">
                                    </div>
                                    <div>
                                        <label  th:classappend="form-control" name="passwordCheck">가입일</label>
                                        <input class="form-control form-control-lg light-300" type="password" name="passwordCheck"  disabled th:placeholder="${userProfile.createdAt}">
                                    </div>
                                    <div>
                                        <label th:classappend="form-control" name="passwordCheck">최근 접속일</label>
                                        <input class="form-control form-control-lg light-300" type="password" name="passwordCheck" disabled th:placeholder="${userProfile.lastLoginDate}">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</html>
