<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:replace="common/head :: fragmentHead"/>
	<script src="/js/slick.js"></script>
</head>
<body>

<div class="wrap">

	<th:block th:replace="layer/header :: header"></th:block>

	<div class="container_wrap">

		<section class="container">

			<div class="content_wrap">

				<div class="pageTit">공지사항</div>

				<th:block th:each="officialInfo : ${officialInfoList}">
					<div class="board_wrap">
						<ul class="board_list">
							<li class="item notice">
								<a th:href="@{|${officialInfo.detail_url}${officialInfo.id}|}">
									<p class="tit" th:text="${officialInfo.title}"></p>
									<span class="date" th:text="${officialInfo.reg_date}"></span>
								</a>
							</li>
						</ul>
					</div><!-- // board_wrap -->
				</th:block>
				
			</div>
			
		</section><!-- // container -->
		
	</div><!-- // container_wrap -->


	<th:block th:include="/layer/footer"></th:block>
	
</div><!-- // wrap -->


<!-- <script src="../../js/slick.js"></script> -->
<script src="../../js/temp.js"></script>

</body>
</html>