<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="common/head :: fragmentHead"/>
    <script src="/js/slick.js"></script>
</head>
<body>
<div class="wrap">
    <th:block th:replace="layer/header :: header"></th:block>
    <div class="container_wrap">

        <section class="container">
            <div class="content_wrap">
                <h2>
                    자동차 보험 페이지 입니다.
                </h2>
            </div>
        </section>
    </div>
</div>
</body>
</html>