<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<title>PASS</title>
<link rel="stylesheet" type="text/css" href="../../../../../../Desktop/미니프로젝트/미니프로젝트/테스트이용기관/디자인가이드/PASS인증서_화면가이드_2.0_220502/css/common.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>
<body>
<div class="wrap">
	<!-- HEADER -->
	<div class="header">
	</div>
	<!-- //HEADER -->
	<!-- CONTENT -->
	<div id="content">
		<div class="container">

			<div class="sub_title">
				<div class="inner">
					<h3>개인정보 제3자 제공동의</h3>
				</div>
			</div>

			<!-- <div class="page_title">
				<div class="inner">
					<h2></h2>
				</div>
			</div> -->

			<div class="inner">

				<div class="private_wrap">
					<div class="private">
						OOOO 주식회사(이하 “회사”라 한다)는 PASS 인증서의 원활한 진행을 위해 다음과 같은 정보를 주식회사 아톤, SK텔레콤 주식회사, 주식회사 케이티, 주식회사 LG유플러스에 제공합니다. 취득한 개인정보는 “통신비밀보호법”, “전자통신사업법”, 전자서명법 및 “정보통신망 이용촉진 및 정보보호 등에 관한 법률” 등 정보통신서비스 제공자가 준수하여야 할 관련 법령 상의 개인정보 보호 규정을 준수합니다.<br /><br />

						- 제공받는자 : (주)아톤, SK텔레콤(주), (주)KT, (주)LG유플러스<br /><br />

						- 제공 목적 : 본인 확인을 통한 부정이용 방지(인증서 발급/재발급/삭제, 서비스 제공)<br /><br />

						- 제공하는 개인정보 : 전화번호, 이름, 생년월일, 통신사<br /><br />

						- 보유기간 : 본 서비스 해지 시 까지 또는 관계 법령에 따른 보관의무 기간 동안 보관<br /><br />

						“서비스” 제공을 위해 필요한 최소한의 개인정보이므로 동의를 해주셔야 “서비스” 이용이 가능합니다.
					</div>

					<button type="button"class="btn_close" onclick="javascript:self.close();"><img src="../../../../../../Desktop/미니프로젝트/미니프로젝트/테스트이용기관/디자인가이드/PASS인증서_화면가이드_2.0_220502/images/btn_close.png" alt="닫기" /></button>
				</div>

				<div class="btnG">
					<div><button type="button" class="ok"><span>닫기</span></button></div>
				</div>

			</div>
		</div>
	</div>
	<!-- //CONTENT -->


	<!-- FOOTER -->
	<!-- <div class="footer">
	</div> -->
	<!-- //FOOTER -->
</div>

<script>

</script>
</body>
</html>
